.cabecalho {
    margin: 3em auto;
    text-align: center;
    width: 80%;
}

.cabecalho > h1 {
    text-transform: uppercase;
}

.cabecalho p {
   padding-top: 1em;
}

.cabecalho article {
    margin-top: .5em;
    line-height: 1.5em;
    
}