body {
    overflow-x: hidden;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--branco);
    padding: 2.2em 2em;
    min-height: auto;
    width: 80%;
    margin: 2em auto;
    border-radius: 20px;
}

.container__infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.infos__titulo {
    margin-bottom: .5em;
}

.infos__input {
    padding: .8em;
    border: none;
    background: var(--cinza-claro);
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    color: var(--azul-escuro);
    font-family: var(--fonte-body);
    font-weight: var(--fonte-titulo);
    text-align: center;
}

.infos__input::placeholder {
    background: url(../img/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: .6em;
    color: var(--cinza);
}

.input-parcelas::placeholder {
    background: url(../img/icon-person.svg);
    background-repeat: no-repeat;
    background-position: .6em;
    color: var(--cinza);
}

.infos__box-juros {
    margin: 2em 0;
}

.infos-grid {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: .5em;
    width: 100%;
}

.infos__button-porcentagem, .infos__input-porcentagem {
    background: var(--azul-escuro);
    border-radius: 5px;
    border: 0;
    color: var(--branco);
    font-family: var(--fonte-body);
    font-weight: var(--fonte-titulo);
    padding: .5em 1em;
    font-size: 1.3em;
}

.infos__button-porcentagem:hover, 
.infos__button-porcentagem.selected {
    background: var(--azul-ciano);
    color: var(--azul-escuro);
}

.infos__input-custom {
    background: var(--cinza-claro);
    color: var(--azul-escuro);
    text-align: center;
}

.container__resultados {
    background-color: var(--azul-escuro);
    padding: 2em;
    border-radius: 10px;
    display: flex;
    margin-top: 3em;
}

.resultados__linha {
    display: flex;
    margin-bottom: 2.5em;
    align-items: center;
}

.resultados__titulo {
    color: var(--branco);
    width: 40%;
}

.resultados__valor {
    color: var(--azul-ciano);
    font-weight: var(--fonte-titulo);
    font-size: 2em;
    width: 60%;
    text-align: right;
}

.resultados__button {
    background: var(--azul-ciano);
    border: 0;
    border-radius: 5px;
    color: var(--azul-escuro);
    font-family: var(--fonte-body);
    font-weight: var(--fonte-titulo);
    padding: .5em 1em;
    font-size: 1.3em;
    text-transform: uppercase;
    display: block;
    width: 100%;
}

.resultados__button:hover {
    background: var(--cinza-claro);
}

@media screen and (min-width: 1024px) {
    .container {
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
        align-items: center;
        min-height: 30vh;
    }
    .container__infos {
        width: 50%;
        min-height: 30vh;
        justify-content: space-around;
    }
    .infos-grid {
        grid-template-columns: 33% 33% 33%;
        width: 99%;
        margin-top: 0;
    }
    .container__resultados {
        width: 35%;
        height: 85%;
        margin-top: 0;
    }
    .resultados__coluna {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}