@import url(../css/cabecalho.css);
@import url(../css/container.css);

:root {
    /*cores*/
    --azul-ciano: hsl(172, 67%, 45%);
    --azul-escuro: hsl(183, 100%, 15%);
    --azul-claro: hsl(185, 41%, 84%);
    --cinza: hsl(186, 14%, 43%);
    /* --cinza-claro: hsl(184, 14%, 56%); */
    --cinza-claro: hsl(180, 21%, 95%);
    --branco: #ffff;

    /*fontes*/
    --fonte-principal: 'Space Mono', monospace;
    --fonte-body: 400;
    --fonte-titulo: 700;
    --fonte-italic: italic;
}


body {
    background-color: var(--azul-claro);
    font-family: var(--fonte-principal);
    font-size: 12px;
    font-weight: var(--fonte-body);
    color: var(--cinza)
}